.button {
	color: #f7f7f7;
	font-size: 16px;
	line-height: 22px;
	padding: 9px 26px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background: #005188;
	border: none;
	font-family: inherit;

	&.disabled {
		opacity: 0.4000000059604645;
		pointer-events: none;
		cursor: default;
	}

	&__icon {
		margin-left: 12px;
	}
}
.button-start-search {
	&.hidden {
		display: none;
	}
}
