.search-list {
	display: none;
	&.open {
		display: block;
	}
	&__descriptions {
		position: relative;
		max-width: max-content;
	}

	&__wrap-description-item {
		display: flex;
		align-items: center;
	}

	&__description-item {
		&:first-child {
			margin-bottom: 0;
		}
	}
	&__hint {
		position: absolute;
		z-index: 10;
		right: -23px;
		display: none;
	}

	&__description-img-info {
		margin-top: -7px;
		margin-left: 5px;

		&:hover {
			cursor: pointer;
			~.search-list__hint {
				display: block;
			}
		}
	}

	&__form-request {
		min-width: 100%;
	}

	&__textarea {
		display: block;
		width: 100%;
		border-radius: 6px;
		border: 1px solid #eaeaea;
		background: #fff;
		resize: none;
		height: 160px;
		margin-bottom: 24px;
		color: #757575;
		font-size: 14px;
		line-height: 18px;
		padding: 12px 11px;
		font-family: inherit;

		&:focus {
			border: 1px solid #757575;
			color: #333;
		}
	}

	&__button {
	}

	&__button-icon {
	}
}
