<label class="attach-file__wrap-input-file">
	<input type="file" class="attach-file__input-file" name="input-file" id="input-file">
	<div class="attach-file__label-file">
		<div class="attach-file__wrap-label-file-text">
			<img src="assets/images/icon/clip.svg" class="attach-file__input-icon" alt="">
			<img src="assets/images/icon/file.svg" class="attach-file__input-icon attach-file__input-icon_file" alt="">
			<div class="">
				<p class="attach-file__label-file-text">
					<span>Добавьте</span>&nbsp;или перетащите сюда файл с названием товара и количеством
				</p>
				<div class="attach-file__wrap-file-size">
					<p class="attach-file__file-size"></p>&nbsp;
					<span>-</span>&nbsp;
					<span class="attach-file__loading-value">70%</span>&nbsp;
					<p class="attach-file__loading">загружено</p>
				</div>
			</div>

		</div>
		<p class="attach-file__label-file-text-small">
			Загружать можно форматы csv, txt, xls. Максимальный размер файла 5 Мб
		</p>

	</div>

	<div class="attach-file__input-file-clear"></div>
</label>