
<div class="popup popup-search-finish">
	<div class="popup__content">
		
		<div class="popup__wrapper-title">
			<div class="popup__wrap-title">
				<p class="popup__title">
					Поиск завершен
				</p>
				<div class="popup__close popup__close_mobile"></div>
			</div>
		</div>
		<div class="popup__wrap-content">
			<div class="popup__result">
				<div class="popup__result-item">
					<div class="popup__result-item-title">
						<img src="assets/images/icon/indicator-green.svg" alt="" class="popup__result-indicator">
						<p class="popup__indicator-description">
							Идеальные совпадения
						</p>
					</div>
					<div class="popup__result-item-wrap-value">
						<span class="popup__result-item-value">1</span>
						<span class="popup__result-item-value-name">товар</span>
					</div>
				</div>
				<div class="popup__result-item">
					<div class="popup__result-item-title">
						<img src="assets/images/icon/indicator-orange.svg" alt="" class="popup__result-indicator">
						<p class="popup__indicator-description">
							Вариации из ответов
						</p>
					</div>
					<div class="popup__result-item-wrap-value">
						<span class="popup__result-item-value">3</span>
						<span class="popup__result-item-value-name">товара</span>
					</div>
				</div>
				<div class="popup__result-item">
					<div class="popup__result-item-title">
						<img src="assets/images/icon/indicator-red.svg" alt="" class="popup__result-indicator">
						<p class="popup__indicator-description">
							Вариантов не найдено
						</p>
					</div>
					<div class="popup__result-item-wrap-value">
						<span class="popup__result-item-value">1</span>
						<span class="popup__result-item-value-name">товар</span>
					</div>
				</div>
			</div>

			<div class="popup__not-result">

			</div>
		</div>

		<div class="popup__wrap-button">
			<button class="popup__button button-show-result button">Показать</button>
		</div>
	</div>
</div>



<div class="popup popup-not-result">
	<div class="popup__content">

		<div class="popup__wrapper-title">
			<div class="popup__wrap-title">
				<p class="popup__title">
					Результаты поиска не найдены
				</p>
				<div class="popup__close popup__close_mobile"></div>
			</div>
		</div>

		<div class="popup__wrapper popup__wrap-nor-result">
			<div class="popup__wrap-content">
				<div class="popup__not-result">
					<p class="popup__not-result-description popup__description">
						К сожалению, мы не смогли идентифицировать ваш запрос. Проверьте корректность загруженного файла и формат, в котором написаны названия товаров и их
						количество.
					</p>
				</div>
			</div>
			<div class="popup__wrap-button">
				<button class="popup__button button">Повторить поиск</button>
				<button class="popup__button button popup__button-lite">Оставить заявку</button>
			</div>
		</div>
		<br>
		<br>
		<div class="popup__wrapper popup__wrap-feedback">
			<div class="popup__wrap-content">
				<div class="popup__feddback">
					<p class="popup__not-result-description">
						Оставьте свои контактные данные и мы свяжемся с вами в ближашее время для уточнения вашего запроса
					</p>
				</div>
			</div>
			<form action="#" class="popup__form-feedback">
				<div class="popup__wrap-input">
					<input type="text" class="popup__form-input" name="" id="name" required>
					<label for="name" class="popup__label-input">
						Имя<span>*</span>
					</label>
				</div>
				<div class="popup__wrap-input">
					<input type="tel" class="popup__form-input" name="" id="tel" required>
					<label for="tel" class="popup__label-input">
						Телефон<span>*</span>
					</label>
				</div>
				<div class="popup__wrap-input">
					<input type="email" class="popup__form-input" name="" id="email" required>
					<label for="email" class="popup__label-input">
						E-mail<span>*</span>
					</label>
				</div>
				<div class="popup__wrap-checkbox">
					<input type="checkbox" class="popup__form-checkbox" name="form-checkbox" id="form-checkbox" required>

					<div class="popup__wrap-label">
						<label for="form-checkbox" class="popup__form-label">
							Я согласен на <a href="#">обработку персональных данных</a>
						</label>
					</div>

				</div>

				<button type="submit" class="popup__button popup__form-button button">Отправить</button>
			</form>
		</div>

	</div>
</div>



<div class="popup popup-delete-products">
	<div class="popup__content">

		<div class="popup__wrapper-title">
			<div class="popup__wrap-title">
				<p class="popup__title">
					Удалить товары
				</p>
				<div class="popup__close popup__close_mobile"></div>
			</div>
		</div>
		<div class="popup__wrap-content">
			<p class="popup__not-result-description popup__description">
				Вы уверенны, что хотите удалить выбранные товары? Данное действие будет невозможно отменить.
			</p>

		</div>

		<div class="popup__wrap-button">
			<button class="popup__button button">Удалить</button>
			<button class="popup__button button popup__button-lite">Отменить</button>
		</div>
	</div>
</div>


<div class="popup popup-add-cart">
	<div class="popup__content">

		<div class="popup__wrapper-title">
			<div class="popup__wrap-title">
				<p class="popup__title">
					Хотите добавить товары в корзину?
				</p>
				<div class="popup__close popup__close_mobile"></div>
			</div>
		</div>
		<div class="popup__wrap-content">
			<p class="popup__not-result-description popup__description">
				Вы еще не завершили выбор из предложенных вариантов поиска. Можете продолжить выбирать товары или добавить в корзину только выбранные.
			</p>
		</div>
		<div class="popup__wrap-button">
			<button class="popup__button button">Добавить в корзину</button>
			<button class="popup__button button popup__button-lite">Отменить</button>
		</div>
	</div>
</div>