<div class="search-list search-block open" data-category="list">
	<div class="search-list__descriptions smart-search__description">
		<p class="search-list__description-item smart-search__description-item skeleton">
			Для быстрого поиска введите название товара и необходимое количество через пробел.
			<img src="assets/images/icon/info.svg" alt="" class="search-list__description-img-info">
		</p>
		<p class="search-list__description-item smart-search__description-item skeleton">
			Каждый запрос в новой строке.
		</p>
		<p class="search-list__description-item smart-search__description-item skeleton">
			Цифры количества без пробелов.
		</p>
	</div>
	<form action="#" class="search-list__form-request skeleton">
		<textarea class="search-list__textarea" name="search-list-textarea" placeholder="Название товара и количество"></textarea>
		<button class="search-list__button button-start-search button">
			Начать поиск
			<img src="assets/images/icon/search.svg" alt="" class="search-list__button-icon button__icon">
		</button>
	</form>
	<div class="smart-search__progressbar">
		{{> progressbar}}
	</div>


</div>