<div class="search-list search-block open" data-category="list">
	<div class="search-list__descriptions smart-search__description">
		<div class="search-list__wrap-description-item skeleton">
			<p class="search-list__description-item smart-search__description-item ">
				Для быстрого поиска введите название товара и необходимое количество через пробел.
			</p>
			<div class="search-list__wrap-hint">
				<img src="assets/images/icon/info.svg" alt="" class="search-list__description-img-info">
				<div class="search-list__hint">
					{{> hint}}
				</div>
			</div>
		</div>

		<p class="search-list__description-item smart-search__description-item skeleton">
			Каждый запрос в новой строке.
		</p>
		<p class="search-list__description-item smart-search__description-item skeleton">
			Цифры количества без пробелов.
		</p>
	</div>
	<form action="#" class="search-list__form-request skeleton">
		<textarea class="search-list__textarea" name="search-list-textarea" placeholder="Название товара и количество" required></textarea>
		<button class="search-list__button button-start-search button disabled">
			Начать поиск
			<img src="assets/images/icon/search.svg" alt="" class="search-list__button-icon button__icon">
		</button>
	</form>
	<div class="smart-search__progressbar">
		{{> progressbar}}
	</div>


</div>