<section class="smart-search">
	<div class="container-content">
		<div class="smart-search__top">
			<div class="smart-search__breadcrumbs">
				<a href="#" class="smart-search__button-back">
					<img src="assets/images/icon/arrow-left.svg" alt="" class="smart-search__back-icon">
					<span></span>
				</a>
			</div>
			<div class="smart-search__heading">
				<h1 class="smart-search__title">
					Интеллектуальный GPT помощник
				</h1>
			</div>
		</div>
		<div class="smart-search__steps">
			<p class="smart-search__steps-text">
				
			</p>
		</div>
		<div class="smart-search__content">
			{{> start-search}}
			{{> result-search}}
		</div>
	</div>
</section>